@import 'variables';
@import 'mixins';

html {
  margin: 0;
  padding: 0;

  scrollbar-gutter: stable;

  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  box-sizing: border-box;
  min-height: 100svh;

  padding: 3% 8% 3% 8%;
  margin: 0;

  background-color: $background-primary;

  font-size: 1em;

  p {
    text-align: center;
  }
}

h1 {
  font-size: 8em;
  font-weight: 600;
  margin: 0;
  color: $text-white;
  text-align: center;

  @media screen and (max-width: $phone-width) {
    font-size: 5em;
  }
}

h2 {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  color: $color-primary;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
  color: $text-normal;
}

h4 {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  color: $text-muted;
}

p {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  color: $text-normal;

  text-wrap: wrap;

  width: auto;
}

a, .interactive-text {
  font-size: 1em;
  margin: 0;
  font-weight: 400;
  color: $interactive-normal;
  text-wrap: None;
  cursor: pointer;

  &:hover {
    color: $interactive-hover;   
  }
}

hr {
  width: 100%;
  border: 1px 0px;
  border-color: $border-highlight;
}

.lucide {
  display: flex;
  color: $color-primary;
  min-width: 1.5em;
  min-height: 1.8em;
  stroke-width: 2.5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;
  margin-bottom: 1%;

  img {
    width: 15em;
  }

  * {
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: $phone-width) {
    flex-direction: column;
    justify-content: center;
    gap: 0em;
    margin-bottom: 10%;
  }
}

.searchbar {
  min-width: 15%;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1em 2em;

  gap: 1em;

  border: 1px solid $interactive-normal;
  border-radius: 5px;

  box-sizing: border-box;

  input {
    all: unset;

    width: 100%;
    height: 100%;

    color: $interactive-normal;

    &:hover, &:focus {
      color: $interactive-hover;
    }
  }

  @media screen and (max-width: $phone-width) {
    min-width: 100%;
  }

  .lucide {
    display: flex;
    color: $interactive-normal;
    min-width: 1em;
    min-height: 1em;
    stroke-width: 2px;
    
    &:hover {
      color: $interactive-hover;
    }

    &:active {
      color: $text-white;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  gap: $panel-gap-size;

  height: 100%;
  width: 100%;
}

.special {
  background: #364256;
  background: linear-gradient(160deg, rgba(54, 66, 86, 1) 0%, rgba(32, 39, 51, 1) 100%);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5em;

  background-color: $background-secondary;
  border-radius: .5em;
  border: 1px solid $border-highlight;

  box-sizing: border-box;
  padding: 2em;
  
  width: 100%;

  .title {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
    flex-wrap: wrap;

    width: 100%;
    
    * {
      margin: 0;
    }

    @media screen and (max-width: $phone-width) {
      justify-content: center;
    }
  }
}

.keyword {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: left;
}

.keyword-badge {
  padding: .1em .5em;
  border-radius: .5em;
  border: 1px solid $interactive-normal;

  &:hover {
    border: 1px solid $interactive-hover;
  }
}

.horizontal-split {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: $panel-gap-size;
  
  @media screen and (max-width: $phone-width) {
    flex-direction: column;
  }

  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 3%;

  gap: 5em;

  @media screen and (max-width: $phone-width) {
    flex-direction: column;
    gap: 1em;
  }
}