$phone-width: 600px;

$color-primary: #EE6B4D;

$background-primary: #293241;
$background-secondary: #202733;
$border-highlight: #455470;

$interactive-normal: #4E74A4;
$interactive-hover: #98C0D9;

$text-normal: #98C0D9;
$text-muted: #455470;
$text-white: #ffffff;
$text-inverted: #000000;

$panel-gap-size: 2em;