$phone-width: 480px;

$color-primary: #fc512e;

$background-primary: #ffffff;
$background-secondary: #000000;
$background-warning: #fcc52e;

$interactive-normal: #fc512e;
$interactive-hover: #c92302;

$text-normal: #000000;
$text-muted: #474747;
$text-inverted: #ffffff;